<form action="">
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create note</p>
    </header>

    <section class="modal-card-body">
      <b-field horizontal label="Name">
        <b-input
          type="text"
          ref="noteName"
          v-model="note.name"
          placeholder="Your note name"
          d>
        </b-input>
      </b-field>

      <b-field horizontal label="Description">
        <b-input
          type="text"
          v-model="note.description"
          placeholder="Your note description">
        </b-input>
      </b-field>

      <b-field horizontal label="Language">
        <b-select placeholder="Select a language" v-model="note.language" d>
          <option
            v-for="language in languages"
            :value="language.name">
            {{ language.name | capitalize }}
          </option>
        </b-select>
      </b-field>

      <b-field horizontal label="Content">
        <editor v-model="note.content"
                :lang="note.language"
                theme="monokai"
                width="100%"
                height="260"
        ></editor>
      </b-field>
    </section>

    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Cancel</button>
      <button class="button is-primary" type="button" :disabled="isDisabled" @click="createNote()">Create</button>
    </footer>
  </div>
</form>
